web/pages/settings-reports.html

<div id="settings-reports" ng-init="loadInfoRep();">
  <div class="modal-body">
    <div class="row setRep">
      <uib-tabset>
        <uib-tab ng-repeat="tab in tabs track by $index" heading="param_{{$index}}" ng-hint="Test hint">
          <div class="row">
            <label class="col-md-3 control-label">{{ 'database' | translate }}</label>
            <label class="col-md-5 control-label">{{tab.database}}</label>
          </div>
          <div class="row">
            <label class="col-md-3 control-label">{{ 'interface' | translate }}</label>
            <label class="col-md-5 control-label">{{tab.interface}}</label>
          </div>
          <div class="row">
            <label class="col-md-3 control-label">{{ 'name' | translate }}</label>
            <label class="col-md-5 control-label">{{tab.name}}</label>
          </div>
          <div class="row">
            <label class="col-md-3 control-label">{{ 'text' | translate }}</label>
            <label class="col-md-5 control-label">{{tab.text}}</label>
          </div>
          <div class="row">
            <label class="col-md-3 control-label">{{ 'type' | translate }}</label>
            <label class="col-md-5 control-label">{{tab.type}}</label>
          </div>
          <div class="row">
            <label class="col-md-3 control-label">{{ 'value' | translate }}</label>
            <div ng-if="tab.interface == 'true'">
              <div ng-switch="" on="tab.show">
                <div ng-switch-when="Number">
                  <div ng-if="tab.query.valquery.length == 0">
                    <div class="col-md-5">
                      <input type="number" ng-model="tab.value" class="form-control"/>
                    </div>
                  </div>
                  <div ng-if="tab.query.valquery.length != 0">
                    <div class="col-md-5">
                      <input ng-repeat="item in tab.query.valquery[0]" type="number" min="item[tab.query.columnMin]" max="item[tab.query.columnMax]" ng-model="tab.value" class="form-control"/>
                    </div>
                  </div>
                </div>
                <div ng-switch-when="Text">
                  <div class="col-md-5">
                    <input type="text" ng-model="tab.value" class="form-control"/>
                  </div>
                </div>
                <div ng-switch-when="List">
                  <div class="col-md-3">
                    <ol name="idlist{{$index}}" ng-model="tab.value" class="nya-bs-select">
                      <li nya-bs-option="item in tab.query.valquery[0]" data-value="item[tab.query.columnName]"><a>{{item[tab.query.columnName]}}</a></li>
                    </ol>
                  </div>
                </div>
                <div ng-switch-default="ng-switch-default">
                  <div class="col-md-5">
                    <input type="text" ng-model="tab.value" class="form-control"/>
                  </div>
                </div>
              </div>
            </div>
            <div ng-if="tab.interface == 'false'">
              <div class="col-md-5">
                <input type="text" ng-model="tab.value" disabled="disabled" class="form-control"/>
              </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
    </div>
    <div class="row text-right setRepButton">
      <button ng-click="save();" class="btn btn-primary">{{'Save' | translate}}</button>
      <button ng-click="close();" class="btn btn-danger">{{'close' | translate}}</button>
    </div>
  </div>
</div>

src/web/jade/pages/settings-reports.jade
#settings-reports(ng-init='loadInfoRep();')
	
	.modal-body
		.row.setRep
			uib-tabset
				uib-tab(ng-repeat='tab in tabs track by $index',  heading='param_{{$index}}', ng-hint="Test hint" )
					.row
						label.col-md-3.control-label {{ 'database' | translate }}
						label.col-md-5.control-label {{tab.database}}
					.row
						label.col-md-3.control-label {{ 'interface' | translate }}
						label.col-md-5.control-label {{tab.interface}}
					.row
						label.col-md-3.control-label {{ 'name' | translate }}
						label.col-md-5.control-label {{tab.name}}
					.row
						label.col-md-3.control-label {{ 'text' | translate }}
						label.col-md-5.control-label {{tab.text}}
					.row
						label.col-md-3.control-label {{ 'type' | translate }}
						label.col-md-5.control-label {{tab.type}}
					.row
						label.col-md-3.control-label {{ 'value' | translate }}
						div(ng-if="tab.interface == 'true'")
							div(ng-switch="", on="tab.show")
								div(ng-switch-when="Number")
									div(ng-if="tab.query.valquery.length == 0")
										div.col-md-5
											input.form-control(type="number", ng-model="tab.value")
									div(ng-if="tab.query.valquery.length != 0")
										div.col-md-5
											input.form-control(ng-repeat='item in tab.query.valquery[0]', type="number", min="item[tab.query.columnMin]", max="item[tab.query.columnMax]", ng-model="tab.value")
								div(ng-switch-when="Text")
									div.col-md-5
										input.form-control(type="text", ng-model="tab.value")
								div(ng-switch-when="List")
									div.col-md-3
										ol.nya-bs-select(name="idlist{{$index}}", ng-model="tab.value")
											li(nya-bs-option="item in tab.query.valquery[0]", data-value='item[tab.query.columnName]')
												a {{item[tab.query.columnName]}}
								div(ng-switch-default)
									div.col-md-5
										input.form-control(type="text", ng-model="tab.value")
						div(ng-if="tab.interface == 'false'")
							div.col-md-5
								input.form-control(type="text", ng-model="tab.value",disabled)
		.row.text-right.setRepButton
			button.btn.btn-primary(ng-click='save();') {{'Save' | translate}}
			button.btn.btn-danger(ng-click='close();') {{'close' | translate}}
